
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid" style="margin-left: 10rem;">
              <a class="navbar-brand" href="#" style="font-size: 3rem;">Saini</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 10rem; gap:2rem;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="font-size: 1.5rem;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/secret" style="font-size: 1.5rem;">Secret</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login" style="font-size: 1.5rem;">Login</a>
                  </li> <li class="nav-item">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout" style="font-size: 1.5rem;">Logout</a>
                  </li> <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/register" style="font-size: 1.5rem;">Register</a>
                  </li>
                 
                 
                 
                </ul>
              
              </div>
            </div>
          </nav>
    </header>